html,body {
    /*font-family: 'Roboto', sans-serif;*/
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}
body {
    background: #f0f3f8;
}
/* ------- public board table --------*/
.middlerow { 
     /*border-top: none !important; */
 }
 a.btn.btn-success {
    /*display: block;
    margin: auto 0;*/
    margin-top: 30px;
    margin-bottom:30px;
 }

 p.pboard {
    margin-top: 16px;
    padding-top: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
    /*border-right: 1px solid grey;*/
 }
 p.bottom_pboard {
    margin-top:12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
 }
 p.reg_pboard {
    margin-top: 16px;
    padding-top: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
 }
 div.ptable__board {
    border: 1px solid #ddd;
    padding: 5px;
 }
thead.thead {
    background-color: #2780e3;
    color: #fff;
}
tbody.tbody {
    background-color: #fff;
}

/* --------- CREATE-A-BET ---------- */
div.createbet {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 5px 5px 5px #9D9D9D;
    min-height: 400px;
}
#bet_tabs > li {
    float: none;
    display: inline-block;
}
#bet_tabs  {
    text-align: center;
}
#bet_tabs > li > a {
    color: #2780e3;
}
#bet_tabs > li > a:hover,#bet_tabs > li.active a {
    background-color: #fff;
    color: #2780e3;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #fff;
}
#bet_tabs > li.active a {
    border-bottom: 3px solid #1EC0FA;
}
ul#over_under > li {
    display: inline;
    list-style: none;
    padding-right: 15px;
}
ul#over_under {
    padding-left: 0px;
}
.bg-danger {
    color: #fff;
    text-align: center;
}
/* ----  tool-tip ---- */
.popover {
    border: 2px solid #fff;
}
.popover-content {
    background-color: #fff;
    color: black;
    opacity: .8;
}

.popover.top > .arrow:after { border-top-color: #fff; }
.popover > .arrow { border-bottom-color: #fff;}
