<div class="tabbable">
    <ul class="nav nav-tabs" id="interest_tabs">
        <!--top level tabs-->
        <li><a href="#home" data-toggle="tab">Home</a></li>
        <li class="active"><a href="#schedule" data-toggle="tab">Schedule</a></li>
        <li><a href="#stats" data-toggle="tab">Stats</a></li>
    </ul>
    <!--top level tab content-->
    <div class="tab-content">
          <!--home tab menu-->
        <div id="home" class="tab-pane fade">
            {% include "nfl_team/tab_content/home.html" %}
        </div>
        <div id="schedule" class="tab-pane fade active in">
            {% include "nfl_team/tab_content/schedule.html" %}
        </div><!-- end schdule div -->
        <!--stats tab menu-->
        <div id="stats" class="tab-pane fade">
            {% include "nfl_team/tab_content/stats.html" %}
        </div><!--stats tab pane-->
    </div> <!--top level tab content-->
</div>



