<table id="offense_season_stats" class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th colspan="10">NFL Team Total Offense Stats<th>
        <tr>
        <tr>
            <th>RK</th>
            <th><a data-toggle="tooltip" title="Team Abbr">TEAM<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Total Yards">YDS<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Total Yards Per Game">YDS/G<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Total Passing Yards">PASS<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Passing Yards Per Game">P YDS/G<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Total Rushing Yards">RUSH<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Rushing Yards Per Game">R YDS/G<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Total Points">PTS<i class="fa fa-fw fa-sort"></i></a></th>
            <th><a data-toggle="tooltip" title="Points Per Game">PTS/G<i class="fa fa-fw fa-sort"></i></a></th>
        </tr>
    </thead>
    <tbody>
        
           
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.OffensiveYards }}</td>
            <td>{{ (t.OffensiveYards / t.Games) | roundify }}</td>
            <td>{{ t.PassingYards }}</td>
            <td>{{ (t.PassingYards / t.Games) | roundify }}</td>
            <td>{{ t.RushingYards }}</td>
            <td>{{ (t.RushingYards / t.Games) | roundify }}</td>
            <td>{{ t.Score }}</td>
            <td>{{ (t.Score / t.Games) | roundify }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>