<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-sm profile_center" data-toggle="modal" data-target="#profile_change_password">Change Password</button>
<!-- Modal -->
<div id="profile_change_password" class="modal fade" role="dialog">
  <div class="modal-dialog">
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Change password</h1>
        <hr>
        <form action="{{ url_for('home.change_password') }}" method="POST" name="change_password_form">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ render_field_with_errors(form_cp.password, class="form-control", placeholder="enter old password...") }}
          </div>
          <div class="form-group">
            {{ render_field_with_errors(form_cp.new_password, class="form-control", placeholder="enter new password...") }}
          </div>
          <div class="form-group">
            {{ render_field_with_errors(form_cp.new_password_confirm, class="form-control", placeholder="confirm new password...") }}
          </div>
          <div class="form-group">
            {{ render_field(form_cp.submit, class="btn btn-danger btn-block", value="Change Password") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>